<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bebach.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bebach.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Bebach</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Bebach</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bebach.database.windows.net,1433;Initial Catalog=Bebach;User ID=dbosak84@bebach.database.windows.net;Password=Darkobosak2" Name="Data Source=tcp:bebach.database.windows.net,1433;Initial Catalog=Bebach;User Id=dbosak84@bebach.database.windows.net;Password=Darkobosak2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Bebach-20151116091459.mdf;Initial Catalog=aspnet-Bebach-20151116091459;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Bebach-20151116091459.mdf;Initial Catalog=aspnet-Bebach-20151116091459;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:bebach.database.windows.net,1433;Initial Catalog=Bebach;User ID=dbosak84@bebach.database.windows.net;Password=Darkobosak2" Name="Data Source=tcp:bebach.database.windows.net,1433;Initial Catalog=Bebach;User Id=dbosak84@bebach.database.windows.net;Password=Darkobosak2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DARKO\SQLEXPRESS;Initial Catalog=Bebach;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DARKO\SQLEXPRESS;initial catalog=Bebach;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ErrorLog" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:bebach.database.windows.net,1433;Initial Catalog=Bebach;User ID=dbosak84@bebach.database.windows.net;Password=Darkobosak2" Name="Data Source=tcp:bebach.database.windows.net,1433;Initial Catalog=Bebach;User Id=dbosak84@bebach.database.windows.net;Password=Darkobosak2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DARKO\SQLEXPRESS;Initial Catalog=Bebach;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ErrorLog_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DARKO\SQLEXPRESS;initial catalog=Bebach;integrated security=True;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bebach.database.windows.net,1433;Initial Catalog=Bebach;User Id=dbosak84@bebach.database.windows.net;Password=Darkobosak2</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:bebach.database.windows.net,1433;initial catalog=Bebach;user id=dbosak84@bebach.database.windows.net;password=Darkobosak2;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ErrorLog-Web.config Connection String">
      <ParameterValue>data source=tcp:bebach.database.windows.net,1433;initial catalog=Bebach;user id=dbosak84@bebach.database.windows.net;password=Darkobosak2;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>